<mat-form-field id="filter">
  <mat-label>Procurar</mat-label>
  <input matInput (keyup)="applyFilter($event)">
</mat-form-field>

<div class="mat-elevation-z8">
<table mat-table [dataSource]="dataSource">


  <ng-container matColumnDef="edit">
    <th mat-header-cell *matHeaderCellDef> Editar
  </th>
    <td mat-cell *matCellDef="let element" >
      <ion-icon (click)="editProduct(element)" id="edit" name="create"></ion-icon>
    </td>
  </ng-container>

  <ng-container matColumnDef="name">
    <th mat-header-cell *matHeaderCellDef> Nome </th>
    <td mat-cell *matCellDef="let element"> {{element?.name}} </td>
  </ng-container>
  
  <ng-container matColumnDef="manufacturer">
    <th mat-header-cell *matHeaderCellDef> Fabricante </th>
    <td mat-cell *matCellDef="let element"> {{element?.manufacturer}} </td>
  </ng-container>

  <ng-container matColumnDef="provider">
    <th mat-header-cell *matHeaderCellDef> Fornecedor </th>
    <td mat-cell *matCellDef="let element"> {{element?.provider}} </td>
  </ng-container>
  
  <ng-container matColumnDef="cdProduct">
    <th mat-header-cell *matHeaderCellDef> Código </th>
    <td mat-cell *matCellDef="let element"> {{element?.cdProduct}} </td>
  </ng-container>
  
  <ng-container matColumnDef="vlOutput">
    <th mat-header-cell *matHeaderCellDef> Valor </th>
    <td mat-cell *matCellDef="let element"> {{element?.vlOutput}} </td>
  </ng-container>
  
  <ng-container matColumnDef="amount">
    <th mat-header-cell *matHeaderCellDef> Quantidade </th>
    <td mat-cell *matCellDef="let element"> {{element?.amount}}</td>
  </ng-container>

  <ng-container matColumnDef="sale">
    <th mat-header-cell *matHeaderCellDef> 
    </th>
    <td mat-cell *matCellDef="let element" >
      <button [disabled]="element.amount == 0" mat-raised-button color="success" style="background-color: #62462B; color: white;" (click)="sale(element)">Vender</button>
    </td>
  </ng-container>

  <ng-container matColumnDef="qrCode">
    <th mat-header-cell *matHeaderCellDef> 
  </th>
    <td mat-cell *matCellDef="let element" >
         <button mat-raised-button style="border: 1px solid #62462B;" (click)="qrCodeGenerator(element)">Gerar QR code</button>
    </td>
  </ng-container>

  <ng-container matColumnDef="delete">
    <th mat-header-cell *matHeaderCellDef> 
  </th>
    <td mat-cell *matCellDef="let element" >
         <ion-icon id="delete" (click)="deleteProduct(element.idProduct)" name="trash-bin-outline"></ion-icon>      </td>
  </ng-container>

  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
  <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
</table>
<mat-paginator [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons></mat-paginator>

</div>