ion-content{
    --ion-background-color: #62462B;
}

ion-card-header, ion-card-content{
    background-color: white;
}

ion-card-header{
text-align: center;
}


ion-card-content{
    text-align: center;
}

ion-card{
    max-width: 200px;
    margin: 15% auto;
    text-align: center;;
    max-width: 1024px;
    background-color: white;
    width: 400px;
    height: 400px;
}
mat-form-field{
    width: 100%;
}

mat-form-field-outline ng-tns-c2-0 ng-star-inserted{
    border: 1px solid red;
}

mat-icon{
    color: #62462B;
}

mat-divider{
    color: #62462B;
    background-color: #62462B;
}

mat-checkbox{
    margin-bottom: 05px;
    float: left;
}

.button{
    border: 1px solid #62462B; 
    width: 100%;
    margin-top: 05px;
}
