<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Gestão de Estoque</ion-title>
  </ion-toolbar>

</ion-header>

<ion-content>

  <app-sale-table *ngIf="sales && !isDevice" [data]="sales" (cancel)="cancelSale($event)"></app-sale-table>

  <div *ngIf="isDevice">

    <mat-form-field id="filter">
      <mat-label>Procurar</mat-label>
      <input matInput [(ngModel)]="args">
    </mat-form-field>

    <mat-accordion>
      <mat-expansion-panel *ngFor="let sale of sales | search : args">
        <mat-expansion-panel-header>
          <mat-panel-title>
            {{sale.name}}
          </mat-panel-title>
          <mat-panel-description>
            {{(sale?.vlOutput-sale?.vlInput)*sale?.amount | currency: 'BRL'}}
          </mat-panel-description>
        </mat-expansion-panel-header>

        <p> Fabricante: {{sale.manufacturer}} </p>
        <p> Fornecedor: {{sale.provider}} </p>
        <p> Código: {{sale.cdProductSold}} </p>
        <p> Preço entrada: {{sale.vlInput}} </p>
        <p> Preço saida: {{sale.vlOutput}} </p>
        <p> Quantidade: {{sale.amount}} </p>
      </mat-expansion-panel>
    </mat-accordion>

  </div>

  <ion-card>
    <ion-card-header>
      <h2>Total</h2>
    </ion-card-header>
    <ion-card-content style="text-align: center;">
      <h1 [ngClass]="total > 0 ? 'positivo' : 'negativo' ">{{total | currency: 'BRL'}}</h1>
    </ion-card-content>
  </ion-card>

</ion-content>